html, body {
  font-family: "MozTT", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 10px;
  background: black;
  height: 100%;
}

body {
  background-color: black;
  color: #fff;
  font-family: "MozTT", sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-bottom: 50px;
}

section {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1.4rem;
}

.hidden {
  display: none;
}

/*
 * while videoControls is hidden,
 * it should be stay on screen for mousedown event
 */
#videoControls.hidden {
  display: block;
  visibility: visible;
}

ul {
  background: url(images/background.png);
  height: 45.9rem;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: linear-gradient(to bottom, #222 0%,#000 100%);
}
li {
  width: 29.6rem;
  height: 37.5rem;
  margin-right: 0.4rem;
  float:left;
  overflow: hidden;
  position: relative;
  list-style-type: none;
  margin-bottom: 0.4rem;
}
@media (orientation: portrait) { 
  li {
    width: 64.1rem;
    height: 20rem;
    margin-right: 0rem;
    margin-bottom: 0.1rem;
  }
}  

li .inner {
  width: 29.6rem;
  border-color:rgba(255,255,255, 0.1);
}
@media (orientation: portrait) { 
  li .inner {
    width: 64.1rem;
    display: table;
  }
}
  
.unwatched {
  background: url(images/unwatched@165px.png) no-repeat;
  position: absolute;
  bottom: 0;
  width: 0.4rem;
  top: 0;
}
li .img {
  background-repeat: no-repeat;
  background-position: center center;
  height: 16.5rem;
  width: 29.6rem;
  background-size: cover;
  overflow: hidden;
  left: 0;
  margin: 0;
  padding: 0;
}
@media (orientation: portrait) { 
  .unwatched {
    background: url(images/unwatched@200px.png) no-repeat;
  }
  li .img {
    height: 20rem;
    width: 35.6rem;
    float:left;
  }
}  
li .details {
  line-height: 3rem;
  margin: 1.6rem 0;
  font-size: 2.8rem;
  color: #fff;
  width: 100%;
  height: 9.3rem;
  top: 0;
  right: 1.8rem;
  visibility: hidden;
}
@media (orientation: portrait) { 
  li .details {
    width: 28rem;
    margin-left:0.5rem;
    display: table-cell;
    vertical-align: middle;
  }
}
li .details[data-visible] {
  visibility: visible;
}
li .after span:last-child {
  color: #95a3a6;
  display: block;
  width: 100%;
}

/* All of the main views fill the screen */
#thumbnail-list-view, #thumbnail-select-view, #fullscreen-view {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  font-size: 2.1rem;
}

#delete-video-button span {
  background: transparent url(images/delete.png) no-repeat center center / 4rem;
}

#delete-video-button:active {
  background-color: #21a6b9;
}

/*
 * Thumbnails are implemented as <li> elements in a <ul> with background-image
 * set to display the image. We use background-size: cover to automatically
 * resize the image as needed.
 * The thumbnail list appears in regular browsing mode, in selection mode,
 * and in pick mode.
 */

#thumbnails {
  position: absolute;
  left: 0;
  right: 0;
  /* top and bottom are set depending on view below */
  padding: 3rem 0 0 4rem;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 5rem;
  bottom: 0;
  /*
   * the body background is black, but remind the UA of that here to
   * keep the thumbnail view opaque if possible.
   */
  background-color: black;
}
@media (orientation: portrait) { 
  #thumbnails {
     padding: 3rem 8rem 0 8rem;
  }
} 
#thumbnails :nth-child(4n) {
  margin-right: 0rem;
}

.thumbnail.selected {
  outline: solid #00aacc 3px;
  outline-offset: -3px;
}

/*
 * When the user holds their finger over a thumbnail, change the background
 * color to highlight it
 */
.thumbnail:active {
  background-color: #0ac;
}

/*
 * And make all the children translucent so the color shows through
 */
.thumbnail:active div {
  opacity: 0.85;
}

/*
 * give the very last thumbnail a large bottom margin so that it doesn't
 * get stuck hidden behind the overlaid toolbar.
 */
.thumbnail:last-child {
  margin-bottom: 40px;
}

#player {
  /* size and position are set in JS depending on*/
  /* video size and screen orientation */
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
}

/*
 * The overlay is where we display messages like Scanning, No Videos,
 * No SD card and SD Card in Use along with instructions for resolving
 * the issue.  The user can't interact with the app while the overlay
 * is displayed.
 */
#overlay {
  /* it takes up the whole screen */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  /* almost transparent gray */
  background-color: rgba(0, 0, 0, 0.4);
}

/*
 * The overlay content area holds the text of the overlay.
 * It has borders and a less transparent background so that
 * the overlay text shows up more clearly
 */
#overlay-content {
  background:
  url(images/ui/pattern.png) repeat left top,
  url(images/ui/gradient.png) no-repeat left top;
  background-size: auto auto, 100% 100%;
  /* We can't use shortand with background size because is not implemented yet:
  https://bugzilla.mozilla.org/show_bug.cgi?id=570326; */
  overflow: hidden;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "MozTT", Sans-serif;
  font-size: 0;
  /* Using font-size: 0; we avoid the unwanted visual space (about 3px)
  created by white-spaces and break lines in the code betewen inline-block elements */
  color: #fff;
  padding: 11rem 2.5rem 0 2.5rem;
}

#overlay-title {
  font-weight: normal;
  font-size: 1.9rem;
  color: #fff;
  margin: 0 0.5rem -1rem 0.5rem;
}

#overlay-text {
  padding: 1rem 0.5rem 0 0.5rem;
  border-top: 1px solid #686868;
  font-weight: 300;
  font-size: 2.5rem;
  color: #ebebeb;
}

/* localization */
body.hidden *[data-l10n-id] {
  visibility: hidden;
}
*[dir=rtl] li {
  padding: 0 14.4rem 0 2rem;
}
*[dir=rtl] li img {
  left: auto;
  right: 0;
}

#close {
  outline: none;
}

#h1 {
  background: none !important;
}

.icon-back {
  pointer-events: none;
  width: 2.3rem !important;
}

.icon.icon-done {
  background-image: url('images/iconaction_done_30x30.png') !important;
  background-size: 4rem 4rem;
}

header {
  background: rgba(0, 0, 0, 1) !important;
  width: calc(100% - 10rem);
  display: inline-block !important;
}

header h1 {
  font-size: 2.5rem !important;
  line-height: 5rem !important;
  margin: 0 0 0 4.5rem !important;
  width: 29.6rem;
  text-align: center !important;
}

@media (orientation: portrait) { 
  header h1 {
    margin: 0 0 0 9rem !important;
    width: 35.6rem;
    text-align: left !important;
  }
}

/* the indeterminate progress bar displayed while scanning */
#throbber {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.3rem;
  overflow: hidden;
  z-index: 100;
}

#throbber > div {
  height: 2.4rem;
  background-image: url(images/progress.png);
}

#throbber.throb > div {
  animation: 1s throb infinite steps(7);
}

@keyframes throb {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2.1rem);
  }
}

/* buttons */
a.button {
  display: block;
  padding: 0;
  margin: 0;
  border-width: 0;
  background-position: center center;
  background-repeat: no-repeat;

  /* for buttons that display text */
  font-size: 1.4rem;
  text-align: center;
  line-height: 40px;
}

a.button:active, a.button:focus {
  outline: none;
}

a.button.disabled {
  opacity: 0.4;
  pointer-events: none;
}

footer {
  background: rgba(0, 0, 0, 1);
  height: 7rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0px -2px 5px rgba(50, 50, 50, 0.75);
}

#thumbnails-video-button {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  background-image: url('images/iconaction_video_30x30.png');
  background-size: 4rem 4rem;
}

#thumbnails-select-button {
  position: absolute;
  top: 0;
  left: calc(100% - 10rem);
  display:inline-block;
  width: 10rem;
  height: 5rem;
  z-index:10;
  background-position: center center;
  background-size: 3rem auto;
  background-image: url('images/iconaction_select_30x30.png');
  background-size: 4rem 4rem;
}
#thumbnails-select-button:before {
  content: "";
  margin-top:1rem;
  height: calc(100% - 2rem);
  width: 0.2rem;
  background-image: url('images/separator.png');
  display: block;
} 
#thumbnails-delete-button {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  background-image: url('images/iconaction_delete_30x30.png');
  background-size: 4rem 4rem;
  border-right: 1px solid #000;
}

#thumbnails-share-button {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  background-image: url('images/iconaction_share_30x30.png');
  background-size: 4rem 4rem;
}

#thumbnails-single-delete-button {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  background-image: url('images/iconaction_delete_30x30.png');
  background-size: 4rem 4rem;
  border-right: 1px solid #000;
}

#thumbnails-single-share-button {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  background-image: url('images/iconaction_share_30x30.png');
  background-size: 4rem 4rem;
}

header .icon:after {
  background: none !important;
}

/* video player controls */
#videoControls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 1;
  -moz-transition: opacity 0.5s;
}
#videoControls.hidden {
  opacity: 0;
}

/* main control bar: play|pause, timeupdate, rwd|fwd
   For landscape mode here. Settings for portrait mode is written in
   media query at bottom */
#videoBar {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 7rem;
  height: 7rem;
  margin: 0;
  padding: 0;
}

@media (orientation: portrait) {
  #videoBar {
    background-size: 12.8rem 7rem;
  }
}

#videoBar:last-child {
  bottom: 0;
}

#play, #play:after {
  width: 12rem;
  height: 7rem;
}

#play {
  background: url(images/button_bg_normal.png) no-repeat center center / 12rem 7rem;
  position: absolute;
  border: none;
  padding: 0;
  margin: 0;
  left: 10rem;
  top: 0;
  z-index: 20;
}

#play:active {
  background-image: url(images/button_bg_pressed.png);
}

#play:after {
  background-position: 4rem 1.5rem;
  background-repeat: no-repeat;
  background-size: 4rem;
  content: " ";
  display: block;
  position: relative;
  z-index: 10;
}

/* play/pause button */
#play:after {
  background-image: url("images/pause.png");
}
#play.paused:after {
  background-image: url("images/play.png");
}

/* time slider */
#timeSlider {
  background: url(images/scroll_bar_bg.png);
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#timeSlider span {
  display: block;
  width: 12rem;
  position: absolute;
  left: 25rem;
  top: calc(50% - 1.2rem);
  line-height: 2.4rem;
  text-align: left;
  font-size: 2.1rem;
  color: #f8b62d;
}

#timeSlider #duration-text {
  left: 111rem;
  color: #ffffff;
}

#slider-wrapper {
  position: absolute;
  top: 0;
  left: 37rem;
  width: 71rem;
  height: 100%;
}

#slider-wrapper div {
  position: absolute;
  pointer-events: none;
}

.progress {
  height: 0.4rem;
  width: 0%;
  top: 50%;
  margin-top: -0.2rem;
}

#elapsedTime {
  background: url(images/timeline_filled.png) no-repeat left center / 71rem 4rem;
  z-index: 30;
}

#bufferedTime {
  background-color: blue;
  z-index: 20;
}

#timeBackground {
  background: url(images/timeline.png) repeat-x left top / 71rem 4rem;
  z-index: 10;
  width: 100%;
}

#playHead {
  -moz-transition: background 1s linear;
  background: url(images/scrubber.png) no-repeat center center;
  margin: 0 0 0 -4rem;
  position: absolute;
  pointer-events: none;
  border: none;
  display: block;
  height: 8rem;
  width: 8rem;
  z-index: 100;
  top: calc(50% - 4rem);
  border-radius: 50%;
  background-color: transparent;
  border: solid 1.4rem transparent;
  transition: background-color 300ms ease, border 300ms ease;
}

#playHead.active {
  background-color: rgba(0, 180, 225, 0.85);
  border: solid 1.4rem rgba(0, 0, 0, 0.3);
}

@media screen and (orientation: portrait) {
  #play, #play:after {
    width: 14rem;
  }

  li.details {
    width: 8rem;
  }

  #play {
    left: 0;
  }
  #play:after {
    background-position: 5rem 1.5rem;
  }
  #timeSlider {
    background-image: url(images/portrait/scroll_bar_bg.png);
  }
  #timeSlider span {
    width: 10rem;
    left: 16rem;
  }
  #slider-wrapper {
    width: 40rem;
    left: 26rem;
  }
  #timeSlider #duration-text{
    left: 68rem;
  }
  #elapsedTime, #timeBackground{
    background-size: 40rem 4rem;
  }
}

:focus { outline:none; }
::-moz-focus-inner { border:0; }
