/* ----------------------------------
 * ACTION MENU
 * ---------------------------------- */

/* MAIN DIALOG SETUP */
section[role="dialog"] {
  overflow: hidden;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  white-space: nowrap;
  padding: 1.5rem 0 7rem;
  font-family: "MozTT", Sans-serif;
  color: #fff;
}

section[role="dialog"]:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 100%;
}

section[role="dialog"] > div {
  padding: 0 2.5rem 0 2rem;
  -moz-box-sizing: padding-box;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;  
}

section[role="dialog"] h3 {
  font-family: 'MozTT', Sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1em;
  color: #fff;
  border-bottom: 0.1rem solid #686868;
  margin: 0 0 1rem;
  padding-bottom: 1rem;
}

/* SPECIFIC COMPONENT CODE */
section[role="dialog"] menu.actions:before {
  content: url('images/doorhanger_lightgray.png');
  position: absolute;
  right: 0;
  top: -1.3rem;
}

section[role="dialog"] menu.actions {
  background: url('images/doorhanger_lightgray_background.png');
  width: 28rem;
  border-radius: 6px;
  margin: 1rem;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
}

section[role="dialog"] menu.actions {
  top: 0;
  right: 0;
}

section[role="dialog"] menu.actions h3 {
  display: block;
  margin: 0 1.5rem;
}

section[role="dialog"] menu.actions hr {
  margin: 0;
  padding: 0;
  border:none;
  border-top:1px solid #A6A6A6;
  height:0;
}

section[role="dialog"] menu.actions > ul {
  list-style: none;
  padding: 0;
  margin: 1.25rem 0 1.25rem 0;
  display: block;
  overflow: hidden;
}

section[role="dialog"] menu.actions > ul > li {
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  margin: 0;
  display: block;
  overflow: hidden;
  border: none;
  height: auto;
}

section[role="dialog"] menu.actions > ul > li > button,
section[role="dialog"] menu.actions > ul > li > a[role="button"] {
  width: 100%;
  height: 4.5rem;
  -moz-box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'MozTT', Sans-serif;
  font-weight: 650;
  line-height: 4.5rem;
  outline: none;
  font-size: 2.1rem;
  color: #333333;
  text-shadow: none;
  text-align: left;
  padding: 0 1rem;
  margin: 0;
  border-radius: 0.3rem;
  border: solid 1px #A6A6A6;
  background-image: url('./images/buttons_default.png');
}

section[role="dialog"] menu.actions > ul > li > label {
  font-size: 1.4rem;
  color: #333333;
  text-align: left;
}

section[role="dialog"] menu.actions > ul > li > label > input {
  margin-top: 0.6rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="number"],
textarea {
  font-size: 2.1rem;
}
