/**
 * Settings style & layout
 * note: `lists.css' must be loaded before this stylesheet
 */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}


/******************************************************************************
 * Setting panels: full-size <section role="region"> blocks
 */

/* Setting panels: full-size <section role="region"> blocks */
section[role="region"] {
  position: absolute;
  top: 0;
  left: 50rem;
  width: calc(100% - 50rem);
  height: 100%;
  border: 0;
  background: url(images/document_bg.png);
  overflow: hidden;
  display: none;
}

#root {
  display: block !important;
  left: 0;
  width: 50rem;
}

#root header h2 {
  padding-left: 12.7rem;
}

#root .menu-item {
  padding-left: 12.7rem;
}

#root ul li > label:not([for]) > span,
#root ul li > label:not([for]) > input[data-type="switch"] + span {
  right: 3.5rem;
}

section[role="region"].previous {
  display: none;
}

section[role="region"].current {
  display: block;
}

/**
 * Headers should not scroll with the rest of the page, except for #root.
 */

section[role="region"] > div {
  position: absolute;
  top: 5rem;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 5rem);
  overflow-y: scroll;
}


/******************************************************************************
 * Setting panels: full-size <section role="dialog"> blocks
 */

/* Setting panels: full-size <section role="dialog"> blocks */
section[role="dialog"] {
  position: absolute;
  top: calc(50% - 24rem);
  left: calc(50% - 39rem);
  width: 78rem;
  height: 48rem;
  border: 0;
  background: url(images/document_bg.png);
  overflow: hidden;
  z-index: 17;
  opacity: 0;
  transition: opacity .5s;
  pointer-events: none;
}

section[role="dialog"].previous {
  opacity: 0;
}

section[role="dialog"].current {
  pointer-events: auto;
  opacity: 1;
}

/**
 * Headers should not scroll with the rest of the page, except for #root.
 */
section[role="dialog"] > header {
  position: absolute;
}

section[role="dialog"] > div {
  position: absolute;
  top: 5rem;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 5rem);
  overflow-y: scroll;
}

#dialog-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition: opacity 0.5s;
  z-index: 16;
}

#dialog-overlay[hidden] {
  opacity: 0;
}


/******************************************************************************
 * Breadcrumb
 */

#breadcrumb {
  position: absolute;
  top: 0;
  left: 50rem;
  width: calc(100% - 50rem);
  height: 5rem;
  z-index: 15;
  display: block;
}

#breadcrumb header {
  background: url(images/header_column.png);
}

#breadcrumb nav {
  padding-left: 5rem;
  display: flex;
  flex-direction: row-reverse;
}

#breadcrumb nav .item {
  background: url(images/tab_L.png) no-repeat left center,
              url(images/tab_R.png) no-repeat right center;
  min-width: 6rem;
  padding-left: 0.8rem;
  padding-right: 1.9rem;
  margin-right: 2rem;
}

#breadcrumb nav .item:nth-child(2) {
  flex: 1 0 auto;
}

/* A placeholder can avoid the last item being extended to the end. */
#breadcrumb nav .breadcrumb-placeholder {
  opacity: 0;
  flex: 99999;
}

#breadcrumb nav h1 {
  margin: 0;
  background: url(images/tab_bg.png) repeat-x center center;
}


/******************************************************************************
 * Explanation texts
 */

.explanation {
  padding: 0.5rem 3rem 0.5rem 5rem;
  font-style: italic;
  font-size: 1.4rem;
  color: #505859;
}

.description {
  padding: 1rem 10rem 1rem 5rem;
  font-size: 1.7rem;
  line-height: 23px;
  white-space: normal;
  -moz-hyphens: auto;
}

.description p {
  padding: 0 0 1rem;
  font-size: 1.9rem;
  text-overflow: none;
  white-space: normal;
}

.link-text, .tel-text a {
  font-size: 1.4rem;
  color: #336699;
  text-decoration: underline;
}

.hint label span {
  top: 2.9rem !important;
}
.hint .explanation {
  font-style: normal;
  position: relative;
  margin-top: -2rem;
  padding: 0.5rem 10rem 1.3rem 5rem;
  white-space: normal;
}
.hint .explanation[hidden] {
  display: none;
}


/******************************************************************************
 * Wi-Fi settings
 */

/* three-state items: on|off|ready */

ul[data-state="off"] ~ *,
ul[data-state] li[data-state] {
  display: none;
}

ul[data-state="on"]    li[data-state="on"],
ul[data-state="off"]   li[data-state="off"],
ul[data-state="ready"] li[data-state="ready"] {
  display: block;
}

/**
 * Wi-Fi authentication fields:
 *   - hide password field on open networks
 *   - hide identifier field on non-EAP networks
 */

section li.password,
section li.password[hidden],
section li.identity {
  display: none;
}

section[data-security*="WEP"] li.password,
section[data-security*="WPA"] li.password,
section[data-security*="EAP"] li.identity {
  display: block;
}

section li.password {
  display: block; /*asf*/
  height: 12rem;
  padding-right: 0;
}

section li.password > label {
  top: 8.6rem;
  left: 3rem;
  width: calc(100% - 6rem);
  height: 3rem;
  z-index: 1;
}

section li.password > label > span {
  left: 1.1rem;
  right: auto;
}

section li.password > span {
  position: absolute;
  top: 8.6rem;
  left: 6rem;
  padding: 0;
  height: 3rem;
  color: #848484;
  font-size: 1.7rem;
  line-height: 3rem;
}

section li.password > p {
  padding: 0 3rem;
  line-height: 4.4rem;
}


/******************************************************************************
* Device Storage settings
*/

#deviceStorage progress {
  display: inline-block;
  width: calc(100% - 15rem);
  height: 2.4rem;
  border-radius: 1.2rem;
  margin: 1.8rem 0 0 5rem;
  background: linear-gradient(to bottom, #898989, #b5b5b6);
}

#deviceStorage progress[value]::-moz-progress-bar {
  background: linear-gradient(to bottom, #008bfb, #00c2ef);
  border-radius: 1.2rem;
  height: 2.4rem;
}

#deviceStorage .stackedbar-color {
  display: inline-block;
  height: 2rem;
  left: 5rem;
  padding: 0px;
  position: absolute;
  top: 2.1rem;
  width: 2.5rem;
  border-radius: 1rem;
}

#deviceStorage #used-space .stackedbar-color {
  background: linear-gradient(to bottom, #008bfb, #00c2ef);
}

#deviceStorage #left-space .stackedbar-color {
  background: linear-gradient(to bottom, #898989, #b5b5b6);
}

#deviceStorage #used-space,
#deviceStorage #left-space {
  padding-left: 3.5rem;
}


/******************************************************************************
* Media Storage settings
*/

#mediaStorage #space-stackedbar {
  display: inline-block;
  height: 2.4rem;
  margin: 1.8rem 0 0 1.5rem;
  padding: 0;
  width: calc(100% - 11.5rem);
  border-radius: 1.2rem;
}

#mediaStorage #space-stackedbar .stackedbar-item {
  display: inline-block;
  height: 100%;
}

#mediaStorage #space-stackedbar .stackedbar-item#stackedbar-item-music, #mediaStorage #music-space .stackedbar-color {
  background: linear-gradient(to bottom, #f96438, #ed8c00);
}

#mediaStorage #space-stackedbar .stackedbar-item#stackedbar-item-pictures, #mediaStorage #pictures-space .stackedbar-color {
  background: linear-gradient(to bottom, #6300a9, #7100d7);
}

#mediaStorage #space-stackedbar .stackedbar-item#stackedbar-item-videos, #mediaStorage #videos-space .stackedbar-color {
  background: linear-gradient(to bottom, #639500, #89cf38);
}

#mediaStorage #space-stackedbar .stackedbar-item#stackedbar-item-free, #mediaStorage #media-free-space .stackedbar-color {
  background: linear-gradient(to bottom, #898989, #b5b5b6);
}

#mediaStorage .stackedbar-color {
  display: inline-block;
  height: 2rem;
  left: 5rem;
  padding: 0px;
  position: absolute;
  top: 2.1rem;
  width: 2.5rem;
  border-radius: 1rem;
}

#mediaStorage #media-storage-summary li {
  padding-left: 3.5rem;
}

/******************************************************************************
 * Call settings
 */

.call-settings-disabled a {
  opacity: 0.6;
  color: #797e80;
}

/* three-state items: on|off|unknown */
#menuItem-callWaiting .checkbox-label,
#menuItem-callWaiting[data-state="on"] .checkbox-label,
#menuItem-callWaiting[data-state="off"] .checkbox-label {
  display: block;
}

#menuItem-callWaiting .alert-label,
#menuItem-callWaiting[data-state="on"] .alert-label,
#menuItem-callWaiting[data-state="off"] .alert-label {
  display: none;
}

#menuItem-callWaiting[data-state="unknown"] .checkbox-label {
  display: none;
}

#menuItem-callWaiting[data-state="unknown"] .alert-label {
  display: block;
}

#menuItem-callWaiting .alert-label > span {
  top: 50%;
  margin-top: -1.5rem;
}

#call .cw-alert .cw-alert-sub-p {
  border-top: none;
}

#call .cw-alert .cw-alert-checkbox-label {
  position: absolute;
  right: 0;
  height: 2.7rem;
}


/******************************************************************************
 * Cellular and Data
 */

.carrier-disabled a {
  opacity: 0.6;
  color: #797e80;
}

#carrier-dc-warning h1 > span:before,
#carrier-dr-warning h1 > span:before {
  content: "";
  position: relative;
  display: inline-block;
  background: -moz-image-rect(url(images/icons_sprite.png), 0, 120, 30, 90) no-repeat scroll 0 50% transparent;
  top: 0.9rem;
  margin: 0.5rem;
  width: 3rem;
  height: 3rem;
}


/******************************************************************************
 * APN settings
 */

.apnSettings-custom {
  font-style: italic;
}

.apnSettings-advanced {
  padding-bottom: 1em;
}


/******************************************************************************
 * Wallpaper snapshot
 */

#wallpaper-header { border: none; }

#wallpaper {
  position: relative;
  overflow: hidden;
  height: 23rem;
}

#wallpaper-button {
  background: url(images/wallpaper_edit.png) no-repeat 5rem 16.5rem / 4.5rem;
  position: absolute;
  border: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
}
#wallpaper-button:active {
  background-image: url(images/wallpaper_edit_pressed.png);
}

#wallpaper-preview {
  margin-top: -10rem;
  position: absolute;
  width: 100%;
}

#screen-timeout {
  height: auto !important;
}

#display li {
  height: 6.2rem;
}
#display li:last-child {
  border-bottom: none;
}


/******************************************************************************
 * Sound: min/max icons
 */

ul li > label .range-icons.volume {
  background:
    url(images/range_icons_volume_min.png) no-repeat 0 50%,
    url(images/range_icons_volume_max.png) no-repeat 100% 50%;
  background-size: 4rem;
  right: 10rem;
  width: 29.6rem;
}


/******************************************************************************
 * Volume & Brightness: min/max icons
 */

ul li > label .range-icons {
  position: absolute;
  top: calc(50% - 1.5rem);
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: calc(100% - 15rem);
  height: 3rem;
}

ul li > label .range-icons.brightness {
  background:
    url(images/range_icons_brightness_min.png) no-repeat 0 50%,
    url(images/range_icons_brightness_max.png) no-repeat 100% 50%;
  background-size: 4rem;
  right: 10rem;
  width: 29.6rem;
}

#brightness-manual div {
  position: relative;
  top: calc(50% - 1.5rem);
  left: 7.5rem;
  right: 7.5rem;
  height: 3rem;
  width: calc(100% - 15rem);
}


/******************************************************************************
 * SIM Toolkit
 */

#icc .hiddenheader {
  height: 0;
  padding: 0;
  background: none;
}

#icc .hidden {
  display: none;
}

#icc #icc-stk-alert {
  position: fixed;
}

#icc #icc-stk-alert menu button:first-child {
  margin: 0;
}

#icc #icc-stk-alert menu button {
  width: calc((100% - 2rem) / 3);
  margin-left: 1rem;
}

.multiline_title {
  text-overflow: clip;
  white-space: normal;
  word-wrap: break-word;
}


/******************************************************************************
 * Date & Time
 */

#dateTime ul[data-state="auto"] ~ * {
  display: block; /* temp temp */
}

#dateTime ul[hidden] + header {
  margin-top: 5rem;
}

#time-manual span {
  pointer-events: none;
}

#time-manual input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}


/******************************************************************************
 * Improve Browser OS
 */

#improveBrowserOS .link-text {
  white-space: nowrap;
}


/******************************************************************************
 * OS License
 */

#obtain-sc,
#os-license {
  width: 100%;
  height: calc(100% - 5rem);
}


/******************************************************************************
 * Help
 */

#call-support-numbers {
  position: absolute;
  right: 2rem;
}

html[dir="rtl"] #call-support-numbers {
  right: inherit;
  left: 2rem;
}

#help[data-has-support-info] .no-support-info,
#help:not([data-has-support-info]) .support-info {
  display: none;
}

/******************************************************************************
 * Right-To-Left layout
 */

html[dir="rtl"] section[role="region"] {
  transform: translateX(-100%);
}

html[dir="rtl"] section[role="region"].previous  {
  transform: translateX(+100%);
}

html[dir="rtl"] section[role="region"].current {
  transform: translateX(0);
}

/* 'show password' checkboxes */
html[dir="rtl"] label[for^="pwd"] {
  padding-left: inherit;
  padding-right: 3rem;
}

