/* ----------------------------------
 * CORE STYLES FOR DIALOGS AND MENUS
 * Is required for all the subcomponents (except banner)
 * ---------------------------------- */

[role="dialog"] {
  -moz-box-sizing: border-box;
  position: absolute;
  top: calc(50% - 24rem);
  left: calc(50% - 39rem);
  width: 78rem;
  height: 48rem;
  padding: 7rem 7rem;
  color: #fff;
  font-size: 2rem;
  font-family: "Open Sans", Sans-serif;
  white-space: nowrap;
  background: url(images/ui/pattern.png), url(images/ui/gradient.png) no-repeat;
  background-size: auto auto, 100% 100%;
  z-index: 100;
  overflow: hidden;
}



[role="dialog"] .inner {
  display: block;
  width: calc(100% - 3rem);
  margin-left: -0.1rem; /* need to fix the white-space: nowrap */
  padding: 0 1.5rem;
  white-space: normal;
}

[role="dialog"] h3 {
  font-family: 'Open Sans', Sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1em;
  color: #fff;
  border-bottom: 0.1rem solid #686868;
  margin: 0 0 1rem;
  padding-bottom: 1rem;
}

[role="dialog"] menu:not([type="toolbar"]) {
  white-space: nowrap;
  margin: 0;
  padding: 2.5rem 7rem;
  border-top: solid 0.1rem rgba(255, 255, 255, 0.1);
  background: #2d2d2d url(images/ui/pattern.png) repeat left top;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

[role="dialog"] menu:not([type="toolbar"]) button:last-child,
[role="dialog"] menu:not([type="toolbar"]) a[role="button"]:last-child {
  margin-left: 2rem;
}

[role="dialog"] menu:not([type="toolbar"]) button,
[role="dialog"] menu:not([type="toolbar"]) a[role="button"],
[role="dialog"] menu:not([type="toolbar"]) button:first-child,
[role="dialog"] menu:not([type="toolbar"]) a[role="button"]:first-child {
  margin: 0;
}

[role="dialog"] menu:not([type="toolbar"])[data-items="2"] button,
[role="dialog"] menu:not([type="toolbar"])[data-items="2"] a[role="button"] {
  width: -moz-calc((100% - 1rem) / 2);
}


/* ----------------------------------
 * INLINE BANNER
 * ---------------------------------- */

[role="dialog"].inline {
  position: relative;
  margin: -0.4rem 0 0 0;
  padding: 1rem 0 0 0;
  background: rgba(0,0,0,0.83);
}

[role="dialog"].inline p {
  border: 0;
  padding: 1rem 1.5rem;
}

[role="dialog"].inline menu {
  position: relative;
  background: none;
}
