#sleep-menu {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: #FFFFFF;
  font-family: "Open Sans",Sans-serif;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
  display: none;
}

#sleep-menu-overlay {
  -moz-box-sizing: border-box;
  padding-left: 8.5rem;
  padding-right: 8.5rem;
  padding-top: 7rem;
  background-attachment: scroll, scroll;
  background-clip: border-box, border-box;
  background-color: transparent;
  background-image: url("../themes/default/images/DarkGray_bg.jpg"), url("../themes/default/images/ui/gradient.png");
  background-origin: padding-box, padding-box;
  background-position: left top, left top;
  background-repeat: repeat, no-repeat;
  background-size: auto auto, 100% 100%;
  width: 78rem;
  height: 48rem;
  position: absolute;
  top: calc(50% - 24rem);
  left: calc(50% - 39rem);
}

#sleep-menu-container {
  -moz-box-sizing: padding-box;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  width: 100%;
}

#sleep-menu.visible {
  display: block;
}

#sleep-menu-container h3 {
  color: #FFFFFF;
  font-size: 2.4rem;
  font-weight: normal;
}

#sleep-menu-container ul {
  border-top: 0.1rem solid #898989;
  max-height: 37rem;
  overflow: auto;
  padding: 0;
  position: relative;
}

#sleep-menu-container li {
  -moz-box-sizing: border-box;
  transition: background-color 0.2s ease 0s;
  border-radius: 0.3rem;
  border: 0.1rem #a8a8a8;
  background-color: #898989;
  color: #000000;
  font-size: 2.1rem;
  font-weight: lighter;
  height: 4.5rem;
  line-height: 4.5rem;
  list-style: none outside none;
  margin-top: 1.5rem;
  padding-left: 2rem;
  position: relative;
  display: block;
  text-decoration: none;
}

#sleep-menu-container li:active {
  background: #00ABCC;
  color: #fff!important;
}

#sleep-menu menu {
  background: url("../themes/default/images/DeeplyGray_bg.jpg") repeat scroll left top #2D2D2D;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
  bottom: 0;
  display: block;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  white-space: nowrap;
}

#sleep-menu menu button::-moz-focus-inner {
  border: medium none;
  outline: medium none;
}

#sleep-menu menu button {
  -moz-box-sizing: border-box;
  background: url("../themes/default/images/ui/default.png") repeat-x scroll left bottom #FAFAFA;
  border: 0.1rem solid #9F9F9F;
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  color: #333333;
  display: inline-block;
  font-size: 2.1rem;
  height: 4.5rem;
  line-height: 4.5rem;
  margin: 1.625rem calc(50% - 14.25rem);
  outline: medium none;
  overflow: hidden;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-shadow: 0.1rem 0.1rem 0 rgba(255, 255, 255, 0.3);
  vertical-align: middle;
  white-space: nowrap;
  width: 28.5rem;
}

#sleep-menu menu button:active {
  background: none repeat scroll 0 0 #008AAA;
  border-color: #008AAA;
  color: #333333;
}
