#footer {
  min-height: 16rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10000;
  background-image: url('../resources/images/footer/background.png');
  background-size: 100%;
  overflow: hidden;
}

#footer .dockWrapper {
  width: 160%;
  height: 100%;
}

#footer ol {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-block;
}

#footer li {
  height: 100%;
  position: relative;
  width: calc(100% / 8);
  float: left;
  text-align: center;
}

#footer > div.scrollable li {
	width: 23.2rem;
}

/* Container -> icon + label */
#footer li > div {
  width: 100%;
  margin-top: .5rem;
  pointer-events: none;
}

/* Option to delete apps */
#footer li span.options {
  position: absolute;
  top: .1rem;
  left: calc(50% - 5rem);
  width: 4.5rem;
  height: 4.5rem;
  z-index: 2;
  background: url(../resources/images/delete.png) no-repeat left top / 4.5rem;
}

#footer li > div > *:not(img) {
  display: none;
}

@media (min-width: 1280px) and (orientation: landscape) {
  #footer {
    height: 16rem;
  }

  #footer ol {
    margin-top: 2.5rem;
  }

  #footer li > div > img {
    width: 10rem;
    height: 10rem;
  }
}
