#landing-time {
  text-align: left;
  padding: 4.4rem 0 0 2.5rem;
  color: #fff;
  font-family: 'MozTT', sans-serif;
}

#landing-clock, #landing-date {
  margin: 0;
  padding: 0;
}

#landing-clock {
  margin: 0 0 -1rem -0.4rem;
  font-weight: 300;
}

.numbers {
  text-shadow: 0 0.1rem 0.4rem #000000;
  font-size: calc(28 * 0.226rem);
}

.meridiem {
  text-shadow: 0 0.1rem 0.3rem #000000;
  font-size: calc(17 * 0.226rem);
}

#landing-date {
  text-shadow: 0 0.1rem 0.2rem #000000;
  font-size: calc(7 * 0.226rem);
  font-weight: 400;
}

@media (min-width: 1000px) and (orientation: landscape) {
  #landing-time {
    line-height: 8rem;
    color: #FFFFFF;
  }

  .numbers, .meridiem, #landing-date {
    text-shadow: 0 0 1.5rem #111111;
    color: #fff;
  }

  .numbers {
    font-size: 10.6rem;
    font-weight: 400;
  }

  .meridiem {
    font-size: 10rem;
    font-weight: 300;
  }

  #landing-date {
    font-size: 4.8rem;
    line-height: 4rem;
    font-weight: 400;
  }
}
